* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
}

header{
    background: red;
    height: 95vh;
}

.cards{
    background: #fff;
    color: #1DA1F2;
    height: 150vh;
    width: 100%;


}

footer{
    background: blueviolet;
    height: 20vh;
}
.card {
    position: relative;
    top: 100px;
    left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 19%;
    display: inline-block;
}

.card h4{
        color: #333;
}

.card p{
    font-size: 18px;
    color: #1DA1F2;
}
.avatar{
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.social {
    margin: 20px 20px;
    font-size: 1.4rem;
}

/*icons color code*/
.blackf {
    color: #333;
}

.blackf:hover {
    color: #4267B2;
}

.blackt {
    color: #333;
}

.blackt:hover {
    color: #1DA1F2;
}

.blacki {
    color: #333;
}

.blacki:hover {
    color: #C13584;
}

.blackm {
    color: #333;
}

.blackm:hover {
    color: #DB4437;
}

.blackl{
    color: #333;
}

.blackl:hover {
    color: #0e76a8;
}